$redColour:#EF5623;
$bggreenColor:green;
$bgPrimary: #6E6E6E;
$blackColor:#2C2C2C;

p{
    color:$bgPrimary
}

body{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 10rem;
}
.nav{
    // background-color: $bgColour;
    padding-top: 1rem;
    display: flex;
  align-items: center;
    justify-content:space-between;
    .image-box{
        // background-color: orange;
       width:50%;
       padding: 0rem 1rem;

    }
    .nav-items{
        // background-color: blue;
        width: 50%;
        display: flex;
        gap: 20px;
        justify-content: flex-end;

    }
    .nav-items img{
        cursor: pointer;
       width: 1.5rem;
       
    }
}
.banner-box{
    // background-color: red;
    display: flex;
    justify-content: space-between;
   gap:20px;
    border: 1px solid #F5F5F5;
border-radius: 5px;
padding: 1rem;
// height: 4rem;
margin-top: 4rem;
.left-box{
    background-color: $redColour;
    color:#fff;
    padding: 5rem 3rem 2rem 2rem;
    width:45%;
    h1{
        font-size: 3rem;
        margin-top: 2rem;
    }
}
.right-box{
    width:55%;
    padding:0rem 2rem;
    h1{
        color:#2C2C2C;
            font-weight: 900;
            font-size: 22px;
    }
    // background-color: blue;
    span{
        color: #4B4B4B;
        font-weight: 700;
        font-size: 12px;
    }
    // p{
    //     color:#2C2C2C;
    //     font-weight: 900;
    //     font-size: 22px;
    // }
    .text{
        color:$bgPrimary;
        font-weight: 400;
        font-size: 16px;
        margin-top: 15px;
    }
    .lower-text{
        color:$bgPrimary;
        font-weight: 400;
        font-size: 16px;
        margin-top: 35px;
    }
    .link-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        a{
            color:  #1473E6;
            font-size: 12px;
            font-weight: 400;
        }
    }
}



}
.card-box{
    
    margin-top: 4rem;
    display: grid;
    gap:50px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    .card{
       
        padding: 1rem;
        cursor: pointer;
        border: 1px solid #F5F5F5;
        border-radius: 5px;
        .content-box{
            // background-color: green;
            margin-top: 1rem;
        
            h3{
                color:$blackColor;
                font-size: 18px;
            }
            .card-text{
                margin-top: 1rem;
                p{
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400;
                }
            }
            .card-footer{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.5rem;
            }
           
        }
        .img-box{
            img{
                width:100%
            }
        }

    }
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
    h2{
        font-size: 40px;
        font-weight: 500;
        margin-bottom: .5rem;
    }
    p{
        font-size: 22px;
        line-height: 38px;
    }
    button{
        background-color:black;
        padding:1rem 5rem;
        color:#fff;
        cursor: pointer;
        margin-top: 1rem;
    }
}
.btn-box{
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    .loadmore-btn{
        border: none;
        color:blue;
        background-color: transparent;
        cursor: pointer;
    }
}
